[Unit]
Description=Midi Passthrough Service
After=dualsense-midi.service
Requires=dualsense-midi.service

[Service]
Type=simple
User=ahab
Environment=PYTHONBUFFERED=1
WorkingDirectory=/home/ahab/dualsense-eurorack-midi
ExecStartPre=/bin/sleep 3
ExecStart=/usr/bin/python3 /home/ahab/dualsense-eurorack-midi/src/midi_passthrough.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
