[Unit]
Description=Midi Passthrough Service
After=sound.target doremidi-bridge.service
Wants=doremidi-bridge.service

[Service]
Type=simple
User=ahab
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/home/ahab/dualsense-eurorack-midi
ExecStartPre=/bin/sleep 6
ExecStart=/usr/bin/python3 /home/ahab/dualsense-eurorack-midi/src/midi_passthrough.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
